<div id="container" style="width: 1000px; height: 600px; margin: 0 auto; float:left"></div>

<script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '<%= @project.name.to_s %>'
            },
            xAxis: {
                categories: <%= raw @weeks.to_json %>
            },
            yAxis: [{
                min: 0,
                title: {
                    text: 'Weekly Tasks/Stories'
                },
                stackLabels: {
                    enabled: true,
                    style: {
                        fontWeight: 'bold',
                        color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    }
                },
                opposite: true
            },
                {
                    min: 0,
                    title: {
                        text: 'Cumulative Tasks / Stories'
                    },
                    stackLabels: {
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    },

                }],
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 20,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                            this.series.name +': '+ this.y +'<br/>'+
                            'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                    dataLabels: {
                        enabled: true,
                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                        style: {
                            textShadow: '0 0 3px black, 0 0 3px black'
                        }
                    }
                }
            },
            series: [{
                name: 'John',
                data: [5, 3, 4, 7, 2, 1, 1]
            }, {
                name: 'Jane',
                data: [2, 2, 3, 2, 1, 1, 1]
            }, {
                name: 'Joe',
                data: [3, 4, 4, 2, 5, 1, 1]
            }]
        });
    });


</script>