<h1>Task Time Table</h1>

<table border = "1" class = "task_data">
  <thead>
  <tr>
    <th>Task Type</th>
    <th>Number of Tasks</th>
    <th>Number of Days Spent</th>
  </tr>
  </thead>

  <tbody>
  <% @data.each do |d| %>
      <tr>
        <td><%= d.fetch(:task_type) %></td>
        <td><%= d.fetch(:num_tasks) %></td>
        <td><%= d.fetch(:num_days) %></td>
      </tr>

  <% end %>
  </tbody>
</table>
<br>
<%= link_to "Back", project_tasks_path %>