// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.projectTable {

  #projectName {
    height: 75px;
    width: 500px;
    text-align: center;
    border-right: 1px solid black;
  }

  #edit, #delete{
    width: 200px;
    text-align: center;
  }

  td, th {
    font-size: 50px;
  }

  th {
    border-bottom: 1px solid black;
  }
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
   -moz-box-shadow:    0 0 5px rgba(81, 203, 238, 1);
   -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   box-shadow:         0 0 5px rgba(81, 203, 238, 1);
   padding: 3px 0px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 1px solid rgba(81, 203, 238, 1);
 }

input[type=number]:focus {
  -moz-box-shadow:    0 0 5px rgba(81, 203, 238, 1);
  -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  box-shadow:         0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

select:focus {
   -moz-box-shadow:    0 0 5px rgba(81, 203, 238, 1);
   -webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   box-shadow:         0 0 5px rgba(81, 203, 238, 1);
   padding: 3px 0px 3px 3px;
   margin: 5px 1px 3px 0px;
   border: 1px solid rgba(81, 203, 238, 1);
 }