
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: underline;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.link {
  font-family: Verdana;
  border: 1px solid #979797;
  padding: 2px 7px 2px 7px;
  background-color: #e1e1e1;
  font-size: 13px;
  margin-left: 2px;
  border-radius: 2px;

  &:hover {
    background-color: #e1e1e1;
    text-decoration: none;
    color: black;
    border: 1px solid black;
  }

  &#show {
    font-size: 17px;
  }

  &#chart {
    background-color: #bb0000;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px 16px 10px 16px;

    &:hover {
      background-color: #ae0000;
    }
  }

}

.link2 {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
