// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: lightblue;
  font-family: Verdana;
}

.task_data {
  border-collapse: collapse;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;

  td, th{
    padding: 13px 12px 13px 12px;
    text-align: center;
  }
  #numTasks {
    width: 85px
  }
  #numDaysOnHold {
    width: 120px
  }
  #numDaysSpent {
    width: 100px
  }
  #avgDaysSpent {
    width: 100px
  }
  #avgDaysOnHold {
    width: 120px
  }
}

#showButtons {
  float: left;
  overflow: hidden;
  width: 120px;
  padding: 15px;
  padding-left: 75px;
}

